<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Painter</title>

    <link href="css/1.css" rel="stylesheet" type="text/css" />
    <link href="css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>


  </head>

<body>

<div class="header">
  <div class="nav">
    <a>New</a>
    <a href="javascript:showContextDiagram();" >Context Diagram</a>
    <a href="javascript:showProblemDiagram();">Problem Diagram</a>
    <a>Check</a>
    <a>Help</a>
    <div class="nav-left">
      <a href="#" class="local">Painter</a>
    </div>
</div>
</div>

  <div class="left">
    <br>
    <input type="radio" name="shape" id="machine" value="machine" checked><img src="css/img/machine.png" width="30px"><br><br>
    <input type="radio" name="shape" id="problemDomain" value="problemDomain"><img src="css/img/domain.png" width="30px"><br><br>
    <input type="radio" name="shape" id="requirement" value="requirement"><img src="css/img/requirement.png" width="30px"><br><br>
    <input type="radio" name="shape" id="interface" value="interface"><img src="css/img/interface.png" width="30px"><br><br>
    <input type="radio" name="shape" id="reference" value="reference"><img src="css/img/reference.png" width="30px"><br><br>
    <input type="radio" name="shape" id="constraint" value="constraint"><img src="css/img/constraint.png" width="30px"><br><br>
  </div>

    <div class="middle">
      <div id="myholder"></div>
    </div>

    <div class="right">

      <ul class="ce" >
        <li>
          <a href="#">Diagram</a>
          <ul class="er">
            <li> <a  href="##">Description</a>    </li>
            <li class="e_li">
              <a  href="##">Context Diagram</a>
            </li>
            <li class="e_li">
              <a  href="##">Problem Diagram</a>
            </li>

          </ul>
        </li>

        <li>
          <a href="#">Phenomenon</a>
          <ul class="er">

            <table id="vue_phenomenon">
              <tr>
                <th>Initiator  </th>
                <th>Reciever  </th>
                <th>Content</th>
              </tr>
              <tr v-for="item in items">
                <td>{{item.initiator}}</td>
                <td>{{item.reciever}}</td>
                <td>{{item.content}}</td>
              </tr>
            </table>
          </ul>
        </li>

        <li>
          <a href="#">Reference</a>
          <ul class="er">
            <table id="vue_references">
              <tr>
                <th>Name  </th>
                <th>Content  </th>
              </tr>
              <tr v-for="item in items">
                <td>{{item.name}}</td>
                <td>{{item.content}}</td>
              </tr>
            </table>
          </ul>
        </li>



        <div class="clear"></div>
      </ul>

      <div class="inspector-container"></div>
      <div class="link-inspector-container"></div>

      <div id="selector">
        <select v-model="initiator">
          <option v-for="option in options">{{option}}</option>
        </select>
        <select v-model="reciever">
          <option v-for="option in options">{{option}}</option>
        </select>
        <input v-model="content">
        <button onclick="updatePhenomenon()"> add </button>
      </div>
      <div class="inspector-container"></div>

      <div id="addReference">
        <input v-model="name">
        <input v-model="content">
        <button onclick="updatePhenomenon()"> add </button>
      </div>
      <div class="inspector-container"></div>

    </div>




  <!--&lt;!&ndash;<script src="../../node_modules/jquery/dist/jquery.js"></script>&ndash;&gt;-->
<!--<script src="../../node_modules/lodash/lodash.js"></script>-->
<!--<script src="../../node_modules/backbone/backbone.js"></script>-->
<!--<script src="../../node_modules/graphlib/dist/graphlib.core.js"></script>-->
<!--<script src="../../node_modules/dagre/dist/dagre.core.js"></script>-->
<!--<script src="../objects/joint.js"></script>-->
<!--<script src="../objects/try.js"></script>-->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script src="../scripts/source/jquery.js"></script>
<script src="../scripts/source/lodash.js"></script>
<script src="../scripts/source/backbone.js"></script>
<script src="../scripts/source/graphlib.core.js"></script>
<script src="../scripts/source/dagre.core.js"></script>
<script src="../scripts/source/vue.js"></script>
<script src="../scripts/source/joint.js"></script>

<script src="../scripts/data.js"></script>
<script src="../scripts/draw.js"></script>
<script src="../scripts/events.js"></script>
<script src="../scripts/presentation.js"></script>
<script src="../scripts/reference.js"></script>


<script src="../scripts/source/painter.min.js"></script>

<script src="../../build/rappid.min.js"></script>

</body>

</html>
